# Exit on Error
OUTPUT_FILE=/keystore/elasticsearch.keystore
NATIVE_FILE=/usr/share/elasticsearch/config/elasticsearch.keystore

# Create Keystore
printf "========== Creating Elasticsearch Keystore ==========\n"
printf "=====================================================\n"
elasticsearch-keystore create >> /dev/null

# Setting Secrets

## Setting Bootstrap Password
echo "Setting bootstrap.password..."
(echo "$ELASTIC_PASSWORD" | elasticsearch-keystore add -x 'bootstrap.password')
# useful for randomizing?
echo "Elastic password is: $ELASTIC_PASSWORD"

## Setting Repository Keys
# echo "Setting S3 Access Key"
# (echo "$S3_ACCESS_KEY" | elasticsearch-keystore add -x 's3.client.default.access_key')
# echo "Setting S3 Secret Key"
# (echo "$S3_SECRET_KEY" | elasticsearch-keystore add -x 's3.client.default.secret_key')


# Replace current Keystore
if [ -f "$OUTPUT_FILE" ]; then
	    echo "Remove old elasticsearch.keystore"
	        rm $OUTPUT_FILE
fi

echo "Saving new elasticsearch.keystore"
mv $NATIVE_FILE $OUTPUT_FILE
chmod 0644 $OUTPUT_FILE

printf "======= Keystore setup completed successfully =======\n"
printf "=====================================================\n"